body {
margin: 0%;
background-image: url();
background-size:cover ;
}
nav {
    display: flex;
    justify-content:space-between ;
    background: linear-gradient(#061225 , #6FD9FF);
    height: 150px;
    padding: 0;  
}
.my_logo {
width: 230px;
height: 150px;
margin-left: 20px;
padding-bottom: 0;
}
.nav_items {
list-style-type: none;
font-size: xx-large;
font-weight: bolder;
color : #B8F2FF;
}
#menu {
display: flex;
gap: 50px;
padding: 40px
}
#me {
    width: 250px;
    border-radius: 20px;   
}
#biography {
    display: flex;
    gap: 40px;
   justify-content: center;
   line-height: 50px;
   font-family: Sofia;
   font-size: 24px;
   font-weight: bolder;
   background-color: #D6F5FF;  
}
#ME {
    text-align: center;
    font-family: Sofia;
    background: #D6F5FF;
    margin: 0;
}
.underline {
    text-decoration: underline;
    text-decoration-color: #061225;
    text-decoration-thickness: 3px;
}
.intro {
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
}
.marine {
    background: linear-gradient(#061225 , #6FD9FF);
    margin: 0;
    padding: 20px;
    color: #B8F2FF;
}
.photos {
    width: 350px;
    height: 350px;
    border-radius: 20px;
}   
.row {
    display: flex;
    justify-content: space-around;
}
.package {
    text-align: center;
    width: 350px;
    font-size: larger;
    font-weight: bolder;
    margin-top: 30px;
    color: #061225;
}
h4 {
font-size: 24px;
}
    


