body {
margin: 0%;
background-color: #AFEEEE;
}
nav {
    display: flex;
    justify-content:space-between ;
    background: linear-gradient(#061225 , #6FD9FF);
    height: 150px;
    padding: 0;  
}
.my_logo {
width: 230px;
height: 150px;
margin-left: 20px;
padding-bottom: 0;
}
.nav_items {
list-style-type: none;
font-size: xx-large;
font-weight: bolder;
color : #B8F2FF;
}
#menu {
display: flex;
gap: 50px;
padding: 40px
}
#me {
    width: 250px;
    border-radius: 20px;   
}
#biography {
    display: flex;
    gap: 40px;
   justify-content: center;
   line-height: 50px;
   font-family: Sofia;
   font-size: 24px;
   font-weight: bolder;
   background-color: #AFEEEE; 
   margin-left: 10px; 
}
#ME {
    text-align: center;
    font-family: Sofia;
    background: #AFEEEE;
    margin: 0;
}
.underline {
    text-decoration: underline;
    text-decoration-color: #061225;
    text-decoration-thickness: 3px;
}
.intro {
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
}
.marine {
    background: linear-gradient(#061225 , #6FD9FF);
    margin: 10px auto;
    padding: 20px;
    color: #B8F2FF;
    width: 500px;
    display: block;
    border-radius: 20px;
    
}
.photos {
    width: 350px;
    height: 350px;
    border-radius: 20px;
}   
.row {
    display: flex;
    justify-content: space-around;
}
.package {
    text-align: center;
    width: 350px;
    font-size: larger;
    font-weight: bolder;
    margin-top: 30px;
    color: #061225;
}
h4 {
font-size: 24px;
text-align: center;
}
#Trieste_photo {
    width: 500px;
    border-radius: 20px;
}
#Trieste_package {
    display: flex;
    width:800px ;
    font-size: 20px;
    gap: 50px;
    margin-left: 400px;
    font-weight: bolder;
    color: #061225;
    
}
#background {
   background-color: #AFEEEE; 
   margin-bottom: 20px;
}
#contact {
 width: 250px; 
 font-size: 24px;
 display: block;
 margin: 50px auto;
 border:3px solid #061225;
 padding: 20px ;
 border-radius: 20px;
 line-height: 50px;
 background-color: #B8F2FF;
}   
 input {
    height: 30px;
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius:10px;
 }
 #btn {
padding: 10px;
font-size: large;
border-radius: 10px;
background-color: #043380;
color: #d9f5fc;
 }
.footer {
    display: flex;
    gap: 200px;
    background: linear-gradient(#061225 , #6FD9FF);
    font-size: 24px;
    color: #6FD9FF;
}
.footer_links {
    margin-top: 50px;
    
}
