body {
margin: 0%;
}
nav {
    display: flex;
    justify-content:space-between ;
    background: linear-gradient(#061225 , #6FD9FF);
    height: 150px;
    padding: 0;
    
}
.my_logo {
width: 230px;
height: 150px;
margin:0%;
padding-bottom: 0;


}
.nav_items {
list-style-type: none;
font-size: xx-large;
font-weight: bolder;
color : #B8F2FF;
}
#menu {
display: flex;
gap: 50px;
padding: 40px




}